.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 676px;
    height: auto;
    background-color: #F4F9F3;
    margin-top: -150px;
    border-radius: 39px;
}

.divcontainer h1 {
    font-size: 36px;
    color: #000000;
}

.divcontainer p {
    font-size: 16px;
    width: 394px;

}

.divcontainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.divcontainer form input[type=number] {
    width: 278px;
    height: 93px;
    background-color: #D9D9D9;
    border-radius: 26px;
    font-size: 60px;
    color: #587455;
    margin-top: 1rem;
}

.divcontainer form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.divcontainer form input[type=submit]{
    width: 184px;
    height: 50px;
    border-radius: 37px;
    background-color: #D9D9D9;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}